.right_sidebar-text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
}

.right_sidebar:hover .sidebar-text {
  opacity: 1;
  transform: translateX(0);
}

.right_sidebar {
  width: 60px;
  background-color: rgba(156, 44, 44, 0.8); /* Dark red with 80% opacity */
  color: #fff;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  position: fixed; /* Ensure the sidebar is fixed to the side */
  top: 0; /* Position to the top */
  right: 0; /* Position to the right */
  z-index: 1; /* Ensure sidebar is above other elements */
  height: 50vh; /* Full height of the viewport */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.right_sidebar:hover {
  width: 200px;
  background-color: rgba(156, 44, 44, 0.9); /* Dark red with 90% opacity on hover */
}
