/* src/components/Sidebar.css */

.sidebar {
  width: 60px;
  height: 100vh;
  background-color: rgb(56, 56, 131);/* Dark blue with 80% opacity */
  color: #fff;
  transition: width 0.3s ease, background-color 0.3s ease;
  overflow: hidden;
  position: fixed; /* Fixed to the left */
  z-index: 1; /* Ensure sidebar is above form */
  overflow-y: auto;
}

.sidebar:hover {
  width: 12.5%;
  background-color: rgba(56, 56, 131, 0.5); /* Dark blue with 90% opacity on hover */
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

.sidebar-icon {
  font-size: 24px;
  margin-right: 10px;
}

.sidebar-text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar:hover .sidebar-text {
  opacity: 1;
  transform: translateX(0);
  /* background-color: rgba(153, 102, 0, 0.5); */
}

/* Responsive design */
@media (max-width: 600px) {
  .sidebar {
    width: 50px;
  }

  .sidebar:hover {
    width: 27.5%;
    background-color: rgba(56, 56, 131, 0.8);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .sidebar {
    width: 60px;
  }

  .sidebar:hover {
    width: 20.5%;
    background-color: rgba(56, 56, 131, 0.8);
  }
}

@media (min-width: 1025px) {
  .sidebar {
    width: 60px;
  }

  .sidebar:hover {
    width: 12.5%;
    background-color: rgba(56, 56, 131, 0.8);
  }
}

.sidebar-link {
    color: inherit; /* Inherit the text color from the parent element */
    text-decoration: none; /* Remove the underline */
    display: block; /* Make the links block-level for easier styling */
  }
  
  /* Change the color for the active link */
  .active-sidebar-link {
    color: #FF0000; /* Example active color */
  }
  
  /* Optional: Add hover styles */
  .sidebar-link:hover {
    font-weight: bolder; /* Example hover color */
  }
